@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/ProximaNova-Reg.ttf');
}
    @font-face {
        font-family: 'ProximaNova-Light';
        src: url('../fonts/ProximaNova-Light.ttf');
        font-weight: 700;
    }

@font-face {
    font-family: 'CoreCircus-Reg';
    src: url('../fonts/CoreCircus-Reg.ttf');
    letter-spacing: 0px;
}

html, body {
	font-family: 'ProximaNova-Reg';
    letter-spacing: 0.5px;
    color: #8e8e8e;
}

section {
    margin: 80px 0;
}

h1 {
    font-family: 'CoreCircus-Reg';
    font-size: 2em;
    color: #6e6f71;
    padding-bottom: 10px;
}

h2 {
    font-family: 'CoreCircus-Reg';
    font-size: 1.5em;
    color: #22bab2;
    padding: 50px 0 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 10px
}


#processHeader {
        background-color: #22bab2;

    background-image: url('');
}
    .processHeaderCopy {
        color: #000;
                text-align: center;
        padding-top: 110px;
        width: 50%;
        margin: 0 auto;
    }
    .processHeaderCopy h1 {
        color: #000;
    }

#status{
        border-right: 1px solid #d3d3d3;
        width: 12vw;
        left: 4.2vw;
        padding-top: 10.5vh;
        padding-bottom: 45vh;
        margin-top: -1px;
/*    position: relative;
*/
}
.navbar-fixed {
    top: 10vh;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.navbar-relative{
    position: absolute;
    left: 4.2%;
}

.nav2{
    padding: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}

.guidingPrinciples{
    position: relative;
    display: block;
    width: 50vw;
    margin: 3vw 8vw;
    
}




#research{
        margin-top: 5vh;

}
.principles_h3{
    position: relative;
    display: inline-block;
    width: 40vw;
    margin: 0px;
    padding: 0px;
    margin-top: 3.5vw;
    vertical-align: top;
}
.imageUserJourney, .imageStyleGuide,
.imageWireframe1, .imageWireframe2, .imageWireframe3, .imageWireframe4
, .imageWireframe5, .imageWireframe6, .imageWireframe7, .imageWireframe8, .imageWireframe9, .imageWireframe10, 
.imagePrototyping1, .imagePrototyping2, .imagePrototyping3, .imagePrototyping4, .imagePrototyping5,
.imageRedesign1, .imageRedesign2, .imageRedesign3, .imageRedesign4, .imageRedesign5{
    width: 60vw;
    height: 40vw; 
    background-size: 100% 100%;

}
.imageUserJourney{
    background-image: url('../images/process/userJourneyD1.png');
}
.imageStyleGuide{
    background-image: url('../images/process/styleguide.png');

}
.imageWireframe1{
    background-image: url('../images/wireframes/wireframe_createaccount.png');
}
.imageWireframe2{
    background-image: url('../images/wireframes/wireframe_checkin.png');
}
.imageWireframe3{
    background-image: url('../images/wireframes/wireframe_startorder.png');
}
.imageWireframe4{
    background-image: url('../images/wireframes/wireframe_splitbill.png');
}
.imageWireframe5{
    background-image: url('../images/wireframes/wireframe_selectitem.png');
}
.imageWireframe6{
    background-image: url('../images/wireframes/wireframe_tip.png');
}
.imageWireframe7{
    background-image: url('../images/wireframes/wireframe_paymentmethod.png');
}
.imageWireframe8{
    background-image: url('../images/wireframes/wireframe_confirmpayment.png');
}
.imageWireframe9{
    background-image: url('../images/wireframes/wireframe_receipt.png');
}
.imageWireframe10{
    background-image: url('../images/wireframes/wireframe_feedback.png');
}
.imagePrototyping1{
    background-image: url('../images/prototypes/prototype_onboarding.png');
}
.imagePrototyping2{
    background-image: url('../images/prototypes/prototype_promotions.png');
}
.imagePrototyping3{
    background-image: url('../images/prototypes/prototype_checkIn.png');
}
.imagePrototyping4{
    background-image: url('../images/prototypes/prototype_settings.png');
}
.imagePrototyping5{
    background-image: url('../images/prototypes/prototype_receipts.png');
}
.imageRedesign1{
    background-image: url('../images/redesign/redesign_hierarchy.png');
}
.imageRedesign2{
    background-image: url('../images/redesign/redesign_sharecode.png');
}
.imageRedesign3{
    background-image: url('../images/redesign/redesign_loading.png');
}
.imageRedesign4{
    background-image: url('../images/redesign/redesign_paid.png');
}
.imageRedesign5{
    background-image: url('../images/redesign/redesign_feedback.png');
}

.imageSketches{
    width: 60vw;
    height: 60vw;
}
.imageSketches{
    background-image: url('../images/sketches.jpg');
    background-size: 100% 100%;
}
.iconSecurity, .iconTolerance, .iconFeedback, .iconProgression, .iconUsers, .iconMethods, .iconIssues{
    margin-top: 2em;
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    background-size: 100% 100%;
}
.iconSecurity{
    background-image: url('../images/icons/iconSecurity.png');
}
.iconTolerance{
    background-image: url('../images/icons/iconTolerance.png');
}
.iconFeedback{
    background-image: url('../images/icons/iconFeedback.png');
}
.iconProgression{
    background-image: url('../images/icons/iconProgression.png');
}
.iconUsers{
    background-image: url('../images/icons/iconUsers.png');
}
.iconMethods{
    background-image: url('../images/icons/iconStudy.png');
}
.iconIssues{
    background-image: url('../images/icons/iconIssues.png');
}

.row {
    padding: 0 80px;
}
.process_header{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
}
.content_process{
    margin: 0px;

    width: 67vw;
    position: relative;
    display: inline-block;
    margin-bottom: 5vh;
/*    border: 1px solid #eeeeee;
*/    
    /*height: 80vh;*/
    left: 20vw;
    margin-left: 0px;
    padding: 0px;
}
.scrollPosition{
    color: #36a5a2;
    font-size: 1.2em;
}
@media(max-width: 750px){
    .content_process{
        left: 175px;
    }
}
@media(max-width: 560px){
    .content_process{
        width: 60vw;
    }
}
@media(max-width: 460px){
    #status{
/*        position: relative;
        display: block;
        width: 100vw;*/
        position: absolute;
        border: none;
    }
    .navbar-relative, .navbar-fixed{
        position: absolute;
        top: 100vh;
        color: white;
        z-index: 0;


    }
    .content_process{
        width: 90%;
        left: 5%;
    }
    .scrollPosition{
    color: #ffffff;
    font-size: 1em;
    }
    .imageJourner, .imageWireframe1, .imageWireframe2, .imageWireframe3, .imageWireframe4
, .imageWireframe5, .imageWireframe6, .imageWireframe7, .imageWireframe8, .imageWireframe9, .imageWireframe10, 
.imagePrototyping1, .imagePrototyping2, .imagePrototyping3, .imagePrototyping4, .imagePrototyping5,
.imageRedesign1, .imageRedesign2, .imageRedesign3, .imageRedesign4, .imageRedesign5{
    width: 100%;
    height: 60vw;

    }
}

@media(min-width: 946px){
    .h2big{
        padding-top: 0px;
        margin-top: 0px;
        font-size: 5em;
        margin-left: 2vw;
    }
    .col2{
        margin: 2vw;
        height: 30vh;
        position: relative;
        display: inline-block;
        width: 29vw;
        vertical-align: top;


    }
    .guidingPrinciples{
        position: relative;
        display: block;
        width: 50vw;
        margin: 3vw 8vw;
    }
}
@media(max-width: 945px){
    .h2big{
        font-size: 3em;
        padding-top: 0px;
    }
    #status{
        left: 0px;
        width: 135px;
    }
    .col2{
        margin-left: 0px;

    }
    .guidingPrinciples{
        position: relative;
        display: block;
        width: 50vw;
        margin: 0vw 0vw;
    }
    .iconSecurity, .iconTolerance, .iconFeedback, .iconProgression, .iconUsers, .iconMethods, .iconIssues{
        width: 50px;
        height: 50px;
    }

}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn-primary {
    font-size: 0.8em;
    color: #ffffff;
    background-color: #22bab2;
    border: 2px solid #22bab2;
    border-radius: 25px;
    padding: 14px 25px 13px;
}
    .btn-primary:hover,
    .btn-primary:focus {
      font-size: 0.8em;
        color: #22bab2;
        background-color: #ffffff;
        border: 2px solid #22bab2;
        border-radius: 25px;
        padding: 14px 25px 13px;
        text-decoration: none;
        transition-duration: 0.5s;
    }

.img-responsive {
        margin: 0 auto;
    }

.navbar-default {
    background-color: #ffffff;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 8px 0;
    border: 0;
    transition-duration: 0.5s;
}
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        font-family: 'CoreCircus-Reg';
        color: #22bab2;
        background-color: transparent;
    }
    .navbar-default .navbar-nav > li > a {
        color: #22bab2;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #6e6f71;
    }

.header {
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 0;
}
    .headerCopy {
        text-align: center;
        padding-top: 110px;
        width: 50%;
        margin: 0 auto;
    }

#mainHeader {
    background-color: #22bab2;
    background-image: url('../images/cityscape-background.jpg');
}
    .mainHeaderCopy {
        color: #ffffff;
        text-align: center;
        padding-top: 110px;
        width: 50%;
        margin: 0 auto;
    }
    .mainHeaderCopy h1 {
        color: #ffffff;
    }

#features {
    text-align: center;
    padding-top: 120px;
}
    #features h2 {
        font-family: 'ProximaNova-Reg';
        padding: 0;
    }



/*
@media (min-height: 900px ) { 
    #status{
        position: fixed;
        top: 10vh;
        left: 5vw;
    }
}*/


#download {
    font-family: 'CoreCircus-Reg';
    font-size: 1.1em;
    text-align: center;
    color: #6e6f71;
    background-image: url('../images/cityscape-background2.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 300px;
    margin: 160px 0 0;
}
    #download a {
        font-family: 'ProximaNova-Reg';
    }

footer {
    font-size: 0.85em;
    text-transform: uppercase;
    padding: 20px 0 40px;
}
    footer .row,
    footer .credits,
    footer .credits ul,
    footer p {
        margin: 0;
        padding: 0;
    }
    footer .credits li {
        float:right;
        color: #22bab2;
        display: inline;
        padding: 0 15px 0 0;
    }
    @media screen and (max-width: 736px) {
        #download {
            background-image: url('../images/cityscape-background2.jpg');
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 200px;
            margin: 100px 0 0;
        }

        footer {
            text-align: center;
            margin: 0 auto;
            padding: 20px 0 40px;
        }
        footer .credits li {
        float: none;
    }
        footer p {
            padding-bottom: 10px;
        }
}